<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./js/jquery-3.2.1.min.js"></script>

</head>
<body>


用户信息授权沙箱环境拼接规则:
<a href="https://openauth.alipaydev.com/oauth2/publicAppAuthorize.htm?app_id=2016101300678262&scope=auth_user&redirect_uri=http://www.xian22.com/alilogin/callback/back.php&state=init" ><img src="./images/alipay.png" alt="支付宝第三方登录(用户信息授权)"></a><br/>




	<form id="user_box"  style="display:none;">
		<input type="text" value="" id="user">
		密码：<input type="text" placeholder="输入用户密码！">
		<input type="submit" value="登录">
	</form>

</body>
</html>