.wl277{
	width: 277px;
	float: left;
}
.wr893{ 
	width: 893px;
	float: right;
}
.wl470{ 
	width: 470px;
	float: left;
}
.wr690{ 
	width: 690px;
	float: right;
}
.wl585{ 
	width: 585px;
	float: left;
}
.wr585{ 
	width: 585px;
	float: right;
}
.wl890{ 
	width: 890px;
	float: left;
}
.wl830{ 
	width: 830px;
	float: left;
}
.wr340{ 
	width: 340px;
	float: right;
}
.wr280{ 
	width: 280px;
	float: right;
}
.w820{ 
	width: 820px;
}
.wl240{
	width: 240px;
	float: left;
}
.wr935{
	width: 935px;
	float: right;
}
.wl277{
	width: 277px;
	float: left;
}
.wr893{
	width: 893px;
	float: right;
}

a{ color: #333; text-decoration:none;}
a:hover{ color: #ff2f2f; cursor:pointer;}

.left{float: left;}
.right{float: right;}
.clear{ clear:both;}

.fixed {position: fixed;z-index:1;}
.hide{display: none;}

.pos-rel{ 
	position: relative;
}
.pos-abs{ 
	position: absolute;
}

.f12{font-size: 12px;}

.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}

.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px; }
.mr10{margin-right: 10px;}
.mlr10{margin-left: 10px; margin-right: 10px;}
.mtb10{margin-top: 10px; margin-bottom: 10px;}
.mlr30{margin-left: 30px; margin-right: 30px;}

.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.plr10{padding-left: 10px; padding-right: 10px;}
.ptb10{padding-top: 10px; padding-bottom: 10px;}
.pl70{padding-left: 70px;}

.w30{width: 30px; height: 30px;}

.h5{height: 5px;}
.h10{height: 10px;}
.h20{height: 20px;}
.h25{height: 25px;}
.h30{height: 30px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h60{height: 60px;}

.line-e7{
	border-bottom: 1px solid #e7e7e7;
}

.red{color: #ff2f2f;}
.blue{color: #1630d3;}

.p-rel{
	position: relative; 
}
.p-abs{ 
	position: absolute;
}
.p-fix{ 
	position: fixed;
}

@media screen and (min-width: 980px){}
@media screen and (min-width:1200px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 980px){}
@media screen and (max-width: 900px){}


.clearfix:before, .wrap:before, .clearfix:after, .wrap:after{content: ''; display: table; }
.clearfix:after, .wrap:after{ clear: both !important; }
.clearfix{ clear: both !important;}

*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}

.icon{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	background-image: url(../images/sprites_index.png);
	background-repeat: no-repeat;
}
.icon-rside{
	width: 24px;
	height: 24px;
	margin:11px;
	vertical-align: middle;
	display: inline-block;
	background-image: url(../images/sprites_rside.png);
	background-repeat: no-repeat;
}
.icon-me{
	background-position: -46px -22px;
}
.icon-login{
	background-position: -28px 1px;
}
.icon-service{
	background-position: -56px 0;
}
.icon-collect{
	background-position: -84px 0;
}
.icon-cart{
	background-position: -23px -22px;
}
.icon-search{
	background-position: 0 -22px;
}
.icon-tel{
	background-position: -28px -28px;
}
.icon-service2{
	background-position: -57px -28px;
}
.icon-ys1{
	background-position: 0 -84px;
}
.icon-ys2{
	background-position: -40px -84px;
}
.icon-ys3{
	background-position: -80px -84px;
}
.icon-ys4{
	background-position: -120px -84px;
}
.icon-fs1{
	background-position: 0 -56px;
}
.icon-fs2{
	background-position: -28px -56px;
}
.icon-fs3{
	background-position: -56px -56px;
}
.icon-fs4{
	background-position: -84px -56px;
}
.icon-fs5{
	background-position: -112px -56px;
}
.icon-fs6{
	background-position: -140px -56px;
}
.icon-fs7{
	background-position: -168px -56px;
}
.icon-area{
	background-position: -196px -56px;
}
.icon-area2{
	background-position: -224px -56px;
}
.icon-user{
    background-position: -140px 0;
}
.icon-cart2{
    background-position: -246px 0;
}
.icon-favorite{
    background-position: -246px -32px;
}
.icon-history{
    background-position: -246px -64px;
}
.icon-hotonline{
    background-position: -246px -96px;
}
.icon-cservice{
    background-position: -280px 0;
}
.icon-qrcode{
	background-position: -246px -96px;
}
.icon-bbs{
    background-position: -336px 0;
}
.icon-expanded{
    background-position: -246px -125px;
}
.icon-expand{
    background-position: -392px 0;
}
.icon-close{ 
    background-position: -84px -28px;
}
.icon-asc{ 
    background-position: -140px -28px;
}
.icon-desc{ 
    background-position: -112px -28px;
}
.icon-share{ 
    background-position: -168px -28px;
}
.icon-favorite2{ 
    background-position: -196px -28px;
}
.favorited .icon-favorite2{ 
    background-position: -364px -28px;
}
.icon-add{ 
    background-position: -224px -28px;
}
.icon-sub{ 
    background-position: -252px -28px;
}
.icon-equ{ 
    background-position: -280px -28px;
}
.icon-rmxh{ 
	width: 40px;
	height: 41px;
    background-position: 0 -125px;
}
.icon-tjwz{ 
	width: 40px;
	height: 41px;
    background-position: -40px -125px;
}
.icon-tc1{ 
	width: 40px;
	height: 40px;
    background-position: -160px -125px;
}
.icon-tc2{ 
	width: 40px;
	height: 41px;
    background-position: -200px -125px;
}
.icon-tc3{ 
	width: 40px;
	height: 40px;
    background-position: -240px -125px;
}

.checkbox{cursor: pointer;display: inline-block;}
.checkbox input[type="checkbox"], .checkbox input[type="radio"]{display: none;}
.checkbox input[type="checkbox"] + span, .checkbox input[type="radio"] + span{width: 28px;height: 28px;display: inline-block;background-image: url(../images/chkbox.png);background-repeat: no-repeat;vertical-align: middle;}
.checkbox input[type="checkbox"] + span{background-position: -56px 0;}
.checkbox input[type="checkbox"]:checked + span{background-position: -84px 0;}
.checkbox input[type="radio"] + span{background-position: 0 0;}
.checkbox input[type="radio"]:checked + span{background-position: -28px 0;}


.price span{padding-left: 2px;}
.price s{margin-left: 5px;}
.imghover .img{overflow: hidden;}
.imghover .img img{transform: scale(1);transition: transform 1s linear .1s;-moz-transition: transform 1s linear .1s;-webkit-transition: transform 1s linear .1s;-o-transition: transform 1s linear .1s;-ms-transition: transform 1s linear .1s;}
.imghover:hover .img img{transform: scale(1.03,1.03);-moz-transform: scale(1.03,1.03);-webkit-transform: scale(1.03,1.03);-o-transform: scale(1.03,1.03);-ms-transform: scale(1.03,1.03);}
.shadow{-moz-box-shadow:0 0 15px #f4f4f4;-webkit-box-shadow:0 0 15px #f4f4f4;box-shadow:0 0 15px #f4f4f4;}
.shadowhover:hover{ -moz-box-shadow:0 0 15px #f4f4f4;-webkit-box-shadow:0 0 15px #f4f4f4;box-shadow:0 0 15px #f4f4f4;}

.loadmore{font-size: 16px;color: #bebebe;border-color: #e5e5e5;border-radius: 0;text-align: center;width: 100%;height: 70px;line-height: 70px;padding:0;display: block;}

.hs-app-mask{position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(85,85,85,0.4);z-index: 999999999999999999999;}
.hs-app-mask img{width: 24px;}
.hs-app-mask p{ font-size: 13px;color: #fff;min-height: 25px;overflow: hidden;width:100%;word-wrap: break-word;text-align: center;padding: 0 5px;margin-bottom: 10px;}
.hs-app-info{position: fixed;width: 300px;/*min-height: 80px;*/line-height: 25px;text-align: center;background-color: #444;border-radius: 10px;box-shadow: 0 0 10px #969696;right: 50%;top: 50%;margin: -70px -150px 0 0;z-index: 9999999999999999999999;font-size: 13px;color: #fff;line-height: 25px;padding: 25px 10px;vertical-align: middle;}
.hs-app-error{position: fixed;width: 300px;/*min-height: 80px;*/text-align: center;background-color: #ff2f2f;border-radius: 10px;box-shadow: 0 0 10px #969696;right: 50%;top: 50%;margin: -70px -150px 0 0;z-index: 9999999999999999999999;font-size: 13px;color: #fff;line-height: 25px;padding: 25px 10px;vertical-align: middle;}