<style>
		a{
		    color: #333;
		    text-decoration: none;
        }
		.topper .h-left img {
               margin-top: 10px;
		}
		.topper {
			    height: 104px;
			    line-height: 103px;
			    width: 100%；
			    font-size: 14px;
			    color: #333;
			    background-color: #fff;
			    border-bottom: 1px solid #ececec;
			    text-align: center;
			    margin: 0px;
		}
		.wzwrap {
			height:104px;
		    width: 60%;
		    margin: 0 auto;
   		}
		.topper .h-left {
			    height: 100px;
			    float: left;
  		}
		.topper .h-right {
				    position: relative;
				    float:left;
				   
				    height: 100px;
		}
		.topper .h-right .r_link{
					text-align: left;
				    padding: 0 25px;
					height: 100px;
					line-height: 100px;
					display: inline-block;
					margin-left: -3px;
					margin-bottom: 30px;
					float: left;
    	}
		.topper .h-right #search{
   			 display: inline-block;
   			 float: left;
   			 margin-top: 30px;
		}
		.wzinput{
   			 vertical-align: middle;
   			 border: none;
   			 background: url("../images/search.png") no-repeat 10px;
   			 background-size: 20px;
   			 text-indent: 40px;
   			 height: 42px;
		}
		.topper .wrap .h-right .search-frame {
  			width: 175px;
  			height: 42px;
  			line-height: 42px;
  			border:none;
    		position: relative;
		}
		.topper .wrap .h-right #h-right-other{
			float: left;
			margin: 20px;
			text-indent: 10px;
		}
		.topper .wrap .h-right #h-right-other img{
			margin: 10px;
		}
		.q{
			border
		}
</style>